
@{
    ViewBag.Title = "ViewAppointments";
}

<h2>ViewAppointments</h2>

<p>Appointments will appear here.</p>

<a href="@Url.Action("EditPrescription", "Nurse")">
    <button>Edit Prescription</button>
</a>
<!-- Logout Button -->
<a href="@Url.Action("Logout", "Nurse")" style="margin-left: 20px;">
    <button>Logout</button>
</a>